.mainContainer{
  min-height: 100vh;
}
.nav-bar {
  display: flex;
  background-color: green;
}
.mainParentContainer {
  position: sticky;
  top: 0;
}
.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.nav-bar li {
  height: 50px;
  float: left;
  margin: 10px;
  line-height: 3rem;
  align-items: center;
  justify-content: center;
}
.nav-bar li a {
  text-decoration: none;
}

.nav-bar img {
  display: block;
  height: 40px;
}
.mob-nav-bar {
  display: none;
  background-color: green;
  align-items: stretch;
  justify-content: space-around;
}
img {
  display: block;
  height: 40px;
  object-fit: contain;
  float: left;
}
.search {
  flex-grow: 1;
  margin-right: 20px;
}
.search input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  outline: none;
  border-radius: 2px;
}
.serachContainerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.serachContainerBottom {
  display: none;
}
.parentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  position: sticky;
  top: 0;
}

.gridContainer {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
}

.gridContainer img {
  width: 100%;
  height: 200px;
  aspect-ratio: 1;
  object-fit: cover;
}

.gridItemContainer {
  border: 1px solid black;
}


/* background-color: black;
    font-size: 20px;
    color: white;
    position: sticky;   
    top: 91vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center; */


.flex-container {
  display: flex;
  min-height: 300px;
  gap: 20px;
  padding: 20px;
  background-color: wheat;
  position: sticky;
  top: 91vh;
}
.flex-container div {
  flex-grow: 1;
}

.discrptionContainer {
  padding: 5px;
}

.flex-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.flex-container li {
  line-height: 3rem;
}

.flex-container li a {
  text-decoration: none;
}
.socailMediiaIcons {
  display: flex;
  gap: 20px;
}

.userAndCartContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
}

.userAndCartContainer li {
  float: left;
  margin: 10px;
  line-height: 3rem;
}

.userAndCartContainer li a {
  text-decoration: none;
}

#more {
  display: none;
}

.mySidebar {
  display: none;
  width: 0;
}

@media screen and (max-width: 768px) {
  .parentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
    position: sticky;
    top: 0;
  }

  .serachContainerHeader {
    display: none;
  }

  .flex-container {
    display: list-item;
    min-height: 300px;
    gap: 20px;
    padding: 20px;
    background-color: wheat;
    position: sticky;
    top: 91vh;
  }
  .serachContainerBottom {
    margin: 20px;
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .nav-bar {
    display: none;
  }

  .userAndCartContainer {
    display: none;
  }

  .mob-nav-bar {
    display: flex;
    width: 100%;
    background-color: green;
    align-items: center;
    justify-content: space-between;
  }
  .mob-nav-bar img {
    margin: 5px;
    height: 40px;
  }
  img {
    display: block;
    height: 40px;
    object-fit: contain;
  }

  .nav-bar ul {
    align-items: center;
    justify-content: center;
  }

  .nav-bar li {
    float: left;
    margin: 8px;
    line-height: 3rem;
  }
  .flex-container {
    min-height: 300px;
    display: list-item;
    gap: 20px;
    padding: 20px;
    background-color: wheat;
    position: sticky;
    top:91vh
  }

  .serachContainerHeader {
    padding: 10px;
    display: none;
  }
  .search input {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid black;
    outline: none;
    border-radius: 2px;
  }
  #more {
    display: block;
    float: left;
  }
  .mySidebar {
    display: block;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4rem;
    align-items: flex-start;
  }
  .mySidebar img {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    height: 40px;
    object-fit: contain;
  }
  .mySidebar .search {
    margin: 20px;
    flex-grow: 0.8;
  }
  .mySidebar a {
    margin-left: 20px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 1rem;
  }
  .mySidebar a:hover {
    background-color: rgb(221, 17, 75);
  }
  .mySidebar .close {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 2rem;
  }
  .serachContainerBottom {
    display: none;
  }
}
